
input{
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
}

ul {
    list-style-type: none; /* no symbols will appear near the items in the list */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline-block;
}

li {
    float: left; /* each element of the navigation bar list is aligned along the leftside */
}

li a {
    display: block; /* element will start on a new line and take up the full width */
    color: white;
    text-align: center;
    padding: 14px 16px; /* vertical padding is 14px and horizontal padding is 16px */
    text-decoration: none; /* text will be plain, without decoration */
}

li a:hover:not(.active) {
    background-color: #111;
}

.navbar{
    position:fixed; /* fix position at top left corner of browser window */
    top:0;
    left:0;
    width: 100%;
    background-color: #333;
    z-index: 99 !important;
}
#nav{
    text-align: center;
}

#pos{
    margin-top: 100px;
}

.home{
     width: 33.33%;
}

#down{
    margin-top: 75px;
}

* {
    box-sizing: border-box;
}

.column {
float:left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.catalog{             /* I arrange my catalog items in a table */
    position: absolute;
    top: 75px;
    border-collapse:collapse /* use a single border between cells */
}	

.catalog td{
    text-align:center;       /* center horizontally in each cell */
    padding:80px;            /* 20px padding all around */
}

/* I use a CSS transform to zoom into the images when the mouse hovers over it
   and also a CSS transition so this does not happen immediately but smoothly
   over 2s.  This was copied from w3 schools */
.catalog img{
    height:250px; /* Dr. Pandya told me to do this in order to make all my photos the same height */
    transition: transform 2s;/* transition styling to make zooming smooth */
}

.catalog img:hover{
    -ms-transform: scale(1.5);     /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(2.0);         /* zooms into picture by 2x when hovering */
}

#cont{
    margin-top: -200px;
}

a:link,a:visited,a:hover,a:active {
    color:#CFB53E;
    text-decoration: none;
}

#lower{
    margin-top: -230px;
}

#up{
    margin-top: -200px;
}

#upp{
    margin-top: -170px;
}
